.form{
  width: 33vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 16px 4px rgba(203, 202, 202, 0.2);
  border-radius: 16px;
  gap: 20px;
}

.form-group{
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-size: 1.3rem;
  transition: 300ms;
}

.form-group input:hover{
  border: 0.8px solid rgba(203, 202, 202, 0.2);
  box-shadow: 2px 2px 8px 4px rgba(203, 202, 202, 0.2);
  border-radius: 8px;
}

.form-group .legenda{
  font-size: 8px;
  color: red;
}
.button-submit{
  padding: 2px 8px 2px 8px;
  border: 0.8px solid rgba(203, 202, 202, 0.2);
  border-radius: 8px;
  transition: 300ms;
}

.button-submit:hover{
  box-shadow: 2px 2px 8px 4px rgba(203, 202, 202, 0.2);
}

@media (max-width: 768px) {
  .form{
    width: 80vw;
  }
}
